.body {
    background-color:#262833;
}

.main {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:4rem;
    color:#A3E4DB;
    
    
}

.version {
    font-size:2rem;
    
}
.refresh {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:4rem;
    color:#A3E4DB;
    text-align:center;
    

}

.dice {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:3rem;
    color:#A3E4DB;
}

.inline {
    display:inline-flex;
}